@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 style="text-align:center">ĐỒ ÁN LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG</h1>
    <ul>
        <li>
            <a href="/MH_TongHop">Danh sách tổng hợp</a>
        </li>
        <li>
            <a href="/MH_DanhSachMua">Danh sách hàng mua</a>
        </li>
        <li>
            <a href="/MH_ThemSanPhamMua">Mua hàng</a>
        </li>
        <li>
            <a href="/MH_DanhSachBan">Danh sách hàng bán</a>
        </li>
        </li>
        <li>
            <a href="/MH_ThemSanPhamBan">Mua hàng</a>
        </li>
        
    </ul>
</div>