@page
@model ProjectOOP.Pages.MH_DanhSachSanPhamModel
@using Entities
@{
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>


        </tr>
    </thead>
    <tbody>
        @foreach (SanPham sp in Model.DanhSachSanPham)
        {
            <tr>

                <td>@sp.maSP</td>
                <td>@sp.tenSP</td>
                <td>@sp.donGia</td>

            </tr>
        }
    </tbody>
</table>