@page
@model ProjectOOP.Pages.MH_DanhSachSanPhamModel
@using Entities
@{
}

<form method="post">
    <label for="tukhoa">Từ Khóa:</label><br />
    <input type="text" name="txtSearch" value="" />
    <input type="submit" name="btnSearch" value="Tìm Kiếm" />
</form>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (SanPham sp in Model.DanhSachSanPham)
            {
                <tr>

                    <td>@sp.maSP</td>
                    <td>@sp.tenSP</td>
                    <td>@sp.donGia</td>
                    <td>
                       
                            <button>
                                <a href="/MH_SuaSanPham=@sp.maSP" style="text-decoration:none">Sửa</a>
                            </button>
                        
                       
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@Model.Chuoi