@page
@model IndexModel
@{
    ViewData["Title"] = "Project - 22880089";
}

<div class="text-center">
    <h1 class="display-4">ĐỒ ÁN LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG</h1>
</div>
<div id="listItems">
    <h2>Danh mục</h2>
    <ul>
    <li>
            <a href="MH_DanhSachSanPham">Danh sách sản phẩm</a>
    </li>
</ul>
</div>
